.attribution {
    margin: auto;
    text-align: center;
    width: 40%;
}
.prof-imgs {
    position: relative;
}
#prof-card {
    border-radius: 25px;
    margin: auto;
    text-align: center;
    width: 40%;
}
#prof-bg {
    top: 0;
    left: 0;
    z-index: -1;
}
#prof-pic {
    border-color: white;
    border-radius: 50%;
    border-style: solid;
    z-index: 1;
}